server {
        server_name pileofshame.club;
        root /var/www/pileofshame;
        index index.html;

        location /api {
            proxy_ssl_server_name on;
            proxy_pass https://worker.francois-codes.workers.dev;
        }

        location / {
            try_files $uri $uri/ /index.html;
            gzip  on;
            expires 1h;
        }

    listen 80;

}